:root{
  --page-1-color:steelblue;
  --page-2-color:tan;
  --page-3-color:teal;
  --page-4-color:slateblue;
  --animate-speed:1s;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* page colors */
#page-1{background: var(--page-1-color);}
#page-2{background: var(--page-2-color);}
#page-3{background: var(--page-3-color);}
#page-4{background: var(--page-4-color);}

.page{
  display:flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1{
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p{
  font-size:1.3rem;
  padding: 0 15rem;
}
.btn{
  display: inline-block;
  padding:1rem 2rem;
  background: #f4f4f4;
  color:#333;
  text-decoration: none;
  border:none;
  margin-top:1rem;
  font-size:1.1rem;
  transition: all 0.3s ease-in;
  max-width: 500px;
}

.btn:hover, .btn-dark{
  background:#333;
  color:white;
}
.btn-dark:hover{
  background:#f4f4f4;
  color:#333;
}

/* page animation */
#page-1 h1{
  transform:translateY(-150vh);
  animation: heading var(--animate-speed) forwards ease-in;
}

/* keyframes */
@keyframes heading{
  to{
    transform:translateY(0px);
  }

}
#page-1 p{
  transform:translateX(-100vw);
  animation: paragraph 0.5s forwards ease-in 1.5s;
}

/* keyframes */
@keyframes paragraph{
  to{
    transform:translateX(0px);
  }

}
  .bigNext2{
  display: inline-block;
  padding:6rem 12rem;
  background: #f4f4f4;
  color:#333;
  text-decoration: none;
  border:none;
  margin-top:1rem;
  font-size:6rem;
  transition: all 0.3s ease-in;
} 
  /* .prev2{
    display: inline-block;
    padding:1rem 2rem;
    background: #333;
    color:white;
    text-decoration: none;
    border:none;
    margin-top:1rem;
    font-size:1.1rem;
    transition: all 0.3s ease-in;
    max-width: 500px;
} */

#moveButtonNext, #moveButtonPrev{
  padding: 17.5px 35px;
}




button {
  border: none;
  cursor: pointer;
  transition: transform 0s; 
}

.clickNext1 {
  transform: translateX(300px); 
}
.clickNext2 {
  transform: translateX(300px) translateY(200px);
}
.clickNext3 {
  transform: translateX(0px) translateY(200px);
}
.clickNext4 {
  transform: translateX(0px) translateY(0px);
}
.clickNext5 {
  transform: translateX(100px); 
}
.clickPrev1 {
  transform: translateX(300px); 
}
.clickPrev2 {
  transform: translateX(300px) translateY(200px);

}
.clickPrev3 {
  transform: translateX(0px) translateY(200px);
}
.clickPrev4 {
  transform: translateX(0px) translateY(0px);
}
.clickPrev5 {
  transform: translateX(100px); 
}

.hidden{
  display:none;
}
.box {
  transform: translateX(0px) translateY(350px);
    height: 15px;
    width: 600px;
    border-radius: 7px;
    background: white;
}


@keyframes animate6 {

  to{
    transform: translateX(250px) translateY(250px);

  }
}



#next3{
  animation: animate7 2s infinite ease-in-out; 
  padding: 60px 25px;
  border-radius: 50%;
  margin-left: 10px;
}

@keyframes animate7 {
  0%,100% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(8vh); /* Bounce up */
  }
}

#page-4 h1{
  font-size: 3rem;
  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite;
}


@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
#prev4{
  transition: transform 0.3s ease-in;
}

#prev4:hover {
  transform: rotate(360deg);
}





