:root{
  --page-1-color:steelblue;
  --page-2-color:tan;
  --page-3-color:teal;
  --page-4-color:slateblue;
  --animate-speed:1s;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* page colors */
#page-1{background: var(--page-1-color);}
#page-2{background: var(--page-2-color);}
#page-3{background: var(--page-3-color);}
#page-4{background: var(--page-4-color);}

.page{
  display:flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1{
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p{
  font-size:1.3rem;
  padding: 0 15rem;
}
.btn{
  display: inline-block;
  padding:1rem 2rem;
  background: #f4f4f4;
  color:#333;
  text-decoration: none;
  border:none;
  margin-top:1rem;
  font-size:1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover, .btn-dark{
  background:#333;
  color:white;
}
.btn-dark:hover{
  background:#f4f4f4;
  color:#333;
}

/* page animation */
#page-1 h1{
  transform:translateY(-1000px);
  animation: heading var(--animate-speed) forwards ease-in;
}

/* keyframes */
@keyframes heading{
  to{
    transform:translateY(0px);
  }

}
#page-1 p{
  transform:translateX(-1700px);
  animation: paragraph 0.5s forwards ease-in 1.5s;
}

/* keyframes */
@keyframes paragraph{
  to{
    transform:translateX(0px);
  }

}
  .bigNext2{
  display: inline-block;
  padding:6rem 12rem;
  background: #f4f4f4;
  color:#333;
  text-decoration: none;
  border:none;
  margin-top:1rem;
  font-size:6rem;
  transition: all 0.3s ease-in;
} 
/*
.btn#next-2:hover {
  transform: translateX(300px); 
} */
/* .btn.clicked{
  animation: animate 2s forwards ease-in-out;
  transform:translateX(300px);

} */
/* @keyframes animate {
  to{
    transform:translateY(300px);
  }
} */


/* #next2.clicked{
  transform:translateX(300px);

} */

button {
  border: none;
  cursor: pointer;
  transition: transform 0s; 
}

.click1 {
  transform: translateX(300px); 
}
.click2 {
  transform: translateX(300px) translateY(200px);
}
.click3 {
  transform: translateX(0px) translateY(200px);
}
.click4 {
  transform: translateX(0px) translateY(0px);
}
.click5 {
  transform: translateX(100px); 
}

.hidden{
  display:none;
}
.box {
  transform: translateX(0px) translateY(350px);
    height: 15px;
    width: 600px;
    border-radius: 7px;
    background: white;
}


@keyframes animate6 {

  to{
    transform: translateX(250px) translateY(250px);

  }
}



#next3{
  animation: animate7 2s infinite ease-in-out 14.5s; 
  padding: 60px 25px;
  border-radius: 50%;
  margin-left: 10px;
}

@keyframes animate7 {
  0%,100% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(75px); /* Bounce up */
  }
}







